@charset "UTF-8";

/* Responsive */
* {
    box-sizing: border-box;
}

#thisChecked1:checked+.modelt {
    overflow-y: scroll;
    margin: 20px 1% 60px;
    box-shadow: 0px 30px 50px #111;
    transition: ease-in-out;
    transition-duration: 200ms;
}


#thisChecked2:checked+.bicDNA {
    overflow-y: scroll;
    margin: 20px 1% 40px;
    box-shadow: 0px 30px 50px #111;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.productTitle {
    padding: 80px 10% 0px;
}

@media only screen and (min-width:1080px) {

    .col-1 {
        width: 8.33%;
        float: left;
    }

    .col-2 {
        width: 16.66%;
        float: left;
    }

    .col-3 {
        width: 25%;
        float: left;
    }

    .col-4 {
        width: 33.33%;
        float: left;
    }

    .col-5 {
        width: 41.66%;
        float: left;
    }

    .col-6 {
        width: 50%;
        float: left;
    }

    .col-7 {
        width: 58.33%;
        float: left;
    }

    .col-8 {
        width: 66.66%;
        float: left;
    }

    .col-9 {
        width: 75%;
        float: left;
    }

    .col-10 {
        width: 83.33%;
        float: left;
    }

    .col-11 {
        width: 91.66%;
        float: left;
    }

    .col-12 {
        width: 100%;
        float: left;
    }

    #thisChecked1:checked+.modelt {
        overflow-y: scroll;
        margin: 30px 2% 20px;
        width: 55%;
        box-shadow: 0px 30px 50px #111;
        transition: ease-in-out;
        transition-duration: 200ms;
    }


    #thisChecked2:checked+.bicDNA {
        overflow-y: scroll;
        margin: 30px 2% 20px;
        width: 55%;
        box-shadow: 0px 30px 50px #111;
        transition: ease-in-out;
        transition-duration: 200ms;
    }
}

body {
    background-color: rgb(221, 221, 221);
    overflow-x: hidden;
    font-family: 'Avenir Next', 'Gotham', 'Helvetica', sans-serif;
}

.titleBlank {
    display: flow-root;
    background-image: url("Images/Abstract 1.jpg");
    background-size: 2000px;
    color: #eee;
    margin: -20px;

}

.naviBar {
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
    margin: -53px -20px;
    background-color: rgba(50, 50, 50, 0.9);
    box-shadow: 0px 0px 20px #222222;
}

.naviBarItem {
    float: left;
    padding: 10px 30px;
    font-size: 17px;
    color: rgba(160, 160, 160, 1);
    transition: ease-in-out;
    transition-duration: 200ms;
}

@media only screen and (min-width:640px) {
    .naviBarItem {
        float: left;
        padding: 15px 40px;
        font-size: 17px;
        color: rgba(160, 160, 160, 1);
        transition: ease-in-out;
        transition-duration: 200ms;
    }
}

.naviBarItem:hover {
    color: #fff;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.mainTitle {
    padding-left: 40px;
    padding-top: 100px;
}


.mainTitle b {
    font-weight: 600;
}

.productTitle {
    color: #fff;
    font-weight: 600;
}

.cardContainer {
    float: none;
    padding: 10px 10% 100px;
}

.cardContainerContainer {
    height: fit-content;
    margin: 53px -20px;
    background-color: rgb(38, 50, 56);
}


.card {
    overflow-y: hidden;
    margin: 40px 2% 20px;
    border-radius: 20px;
    height: 400px;
    color: #fff;
    box-shadow: 0px 10px 20px #222;
    padding: 50px 40px;
    background-repeat: no-repeat;
    background-attachment: local;
    transition-duration: 200ms;
}

.card::-webkit-scrollbar {
    display: none;
}

.modelt {
    background-image: url('Images/Reflection 4.jpg');
    background-size: 900px;
    background-color: rgb(76, 77, 83);
}

.bicDNA {
    background-image: url('Images/Reflection 3.jpg');
    background-size: 900px;
    background-color: rgb(76, 77, 83);
}


.clear {
    clear: both;
}

.bicDNA .abstract {
    color: #000;
}

.bicDNA a {
    color: rgb(80, 50, 50)
}

.abstract {
    display: block;
}

.installation {
    margin-top: 300px;
}

h1 {
    font-weight: 200;
    font-size: 50px;
    transition: ease-in-out;
    transition-duration: 200ms;
}

h2 {
    font-size: 50px;
    font-weight: 300;
    transition: ease-in-out;
    transition-duration: 200ms;
}

h3 {
    font-size: 35px;
    font-weight: 300;
    transition: ease-in-out;
    transition-duration: 200ms;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 60px;
    transition: ease-in-out;
    transition-duration: 200ms;
}

@media only screen and (min-width:640px) {
    h1 {
        font-weight: 200;
        font-size: 65px;
        transition: ease-in-out;
        transition-duration: 200ms;
    }

    h2 {
        font-size: 50px;
        font-weight: 300;
        transition: ease-in-out;
        transition-duration: 200ms;
    }

    h3 {
        font-size: 35px;
        font-weight: 300;
        transition: ease-in-out;
        transition-duration: 200ms;
    }

    h4 {
        font-size: 25px;
        font-weight: 400;
        transition: ease-in-out;
        transition-duration: 200ms;
    }
}

a {
    text-decoration: none;
    color: aquamarine;
}