<div id="plaintext">
    <code id="ciphertext">{{content}}</code>
    <div class="cipher-float">
        <div class="cipher-dialog">

            <p><strong id="password-prompt">Password needed for blog</strong></p>
            <form id="password-form">
                <label for="password">{{hint}}</label>
                <input type="password" id="password">
                <input type="submit" value="Unlock">
            </form>
        </div>
    </div>
</div>
<script defer src="decrypt.js"></script>